body {
    margin: 0;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.page_title {
    text-align: center;
}
  
.main_container {
    margin: 5% 10%;
    min-height: 50vh;
}

.react_link {
    text-decoration: none;
    color: inherit;
}

.ript_text {
    height: 15px
}

/*~~~~~~~~~~ MOBILE SUPPORT ~~~~~~~~~~*/
@media only screen and (max-width: 600px) {
    .main_container {
        margin: 10% 0;
    }

    .page_title {
        margin-top: 100px;
    }
}