body {
    margin: 0;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
  
.main_container {
    margin: 5% 10%;
    min-height: 50vh;
}

.react_link {
    text-decoration: none;
    color: inherit;
}